* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    padding: 0;
}

:root {
    font-size: 18px;
    line-height: 1.5;
    scroll-behavior: smooth;
    --time: all 0.3s ease-out;
}

@media (max-width: 600px) {
    :root {
        font-size: 14px;
    }
}

@media (max-width: 420px) {
    :root {
        font-size: 12px;
    }
}

/* sets font size and color for "body" */
body {
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: rgb(32, 32, 32);
}

#hone {
    font-family:Arial, Helvetica, sans-serif;
}

header {
    height: 100vh;
    width: 100%;
    position: sticky;
    top: 10px;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

header::before {
    content: "";
    background-image: url(media/Logo.PNG);
    /* background-size:; */
    background-repeat: no-repeat;
    background-position: top;
    position: absolute;
    top: 25px;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;

}

@keyframes hero {
    0% {
        transform-origin: 50%;
        transform: scale3d(1,1,1);
    }
    50% {
        transform-origin: 10%;
        transform: scale3d(1.1,1.1,1);
    }
    75% {
        transform-origin: 90%;
        transform: scale3d(1.2,1.2,1);
    }
    100% {
        transform-origin: 20%;
        transform: scale3d(1.3,1.3,1);
    }
}

/* no bullet points */
ul {
    list-style-type: none;
}

.nobr {
    white-space: nowrap;
}


/* navigation menu button */
#ham {
    position: absolute;
    width: 60px;
    height: 45px;
    top: 1rem;
    right: 1rem;
    transform: scale(0.8);
    cursor: pointer;
}

#ham>span {
    display: block;
    width: 100%;
    height: 9px;
    background-color: rgb(35, 33, 33);
    position: absolute;
    border-radius: 9px;
    transition: var(--time);
}

#ham>span:nth-child(1) {
    top: 0;
}

#ham>span:nth-child(2),
#ham>span:nth-child(3) {
    top: 18px;
}

#ham>span:nth-child(4) {
    top: 36px;
}

#ham.open>span:nth-child(1),
#ham.open>span:nth-child(4) {
    top: 18px;
    opacity: 0;
}

#ham.open>span:nth-child(2) {
    transform: rotate(45deg);
}

#ham.open>span:nth-child(3) {
    transform: rotate(-45deg);
}

h1 {
    text-align: center; 
    line-height: 1;
    text-transform: uppercase;
    margin-bottom: 5rem;
    /* background-image: url(media/Logo.PNG);  */
    background-repeat: no-repeat;
    background-position: center top;
    padding-top: 250px;
    letter-spacing: -2px;
    transition: var(--time);
    text-shadow: 0 0 10px rgb(82, 80, 80);
}

h1>span:first-child {
    display: block;
    font-weight: 100;
    font-size: 100px;
}

h1>span:last-child {
    font-weight: 600;
    font-size: 99px;
    line-height: 0.8;
}

@media (max-width: 1400px) {
    h1 {
        transform: scale(0.8);
    }
}

@media (max-width: 600px) {
    h1 {
        transform: scale(0.6);
    }
}

@media (max-width: 320px) {
    h1 {
        transform: scale(0.4);
    }
}

/* Style all icons */
.fa {
    padding: 20px;
    font-size: 70px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    overflow: hidden;
  }
  
  /* Add a hover effect if you want */
  .fa:hover {
    opacity: 0.7;
  }
  
  /* Set a specific color for each brand */
  
  /* Facebook */
  .fa-facebook {
    background: #ffffff;
    color: rgb(14, 14, 14);
  }
  /* Twitter */
  .fa-twitter {
    background: #ffffff;
    color: rgb(14, 14, 14);
  }
  /* youtube */
  .socialmediaicons .fa-youtube {
    background: #ffffff;
    color: rgb(14, 14, 14);
}
/* instagram */
.socialmediaicons .fa-instagram {
    background: #ffffff;
    color: rgb(14, 14, 14);
}

/* do i want this? maybe something else here like music */
/* #btn {
    display: block;
    color: inherit;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.2rem;
    letter-spacing: 1.3px;
    border: 2px solid rgb(15, 15, 15);
    padding: 20px 35px;
    transition: var(--time);
    background: rgba(0,0,0,0.3);
} */
/* 
#btn:hover {
    transform: scale(1.1);
} */

nav {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: rgba(64, 63, 63, 0.7);
    transition: var(--time);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
}

.visible {
    opacity: 1;
    visibility: visible;
}

.hidden {
    opacity: 0;
    visibility: hidden;
}

#nav>ul {
    padding-top: 15rem;
}

#nav a {
    color: rgb(26, 25, 25);
    text-decoration: none;
    display: block;
    font-size: 1.4rem;
    font-weight: 500;
    text-align: center;
    margin-bottom: 1.2rem;
    transition: var(--time);
}

#nav a:hover {
    transform: scale(1.2);
}


main {
    position: relative;
    background-color: #ffffff;
    padding: 0 2rem;
    overflow: auto;
}

section {
    margin: 6rem 0;
}

h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 1.3px;
    background-repeat: no-repeat;
    background-position: center top;
    margin-bottom: 2rem;
    padding-top: 4rem;
}

#grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 1fr;
    grid-gap: 10px;
    max-width: 1200px;
    margin: 0 auto;
    transition: var(--time)
}

#grid img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: var(--time); 
    opacity: 1;
  
}

.image1:hover {
    transform: scale(1.2);
}


#grid>div {
    transform: translate(0, 8rem);
    opacity: 0;
}


#grid>div.inviewport {
    transform: translate(0, 0);
    opacity: 1;
}

#grid>div:nth-child(odd) {
    transition: transform 0.5s, opacity 1.5s;
}

#grid>div:nth-child(even) {
    transition: transform 1s, opacity 2.5s;
}


#about>img {
    display: block;
    width: 50%;
    border-radius: 5rem;
    margin: -3rem auto -3rem auto;
}

#about {
    text-align: left;
    font-size: 16px;
    margin: 0 auto 0 auto;
    color: rgb(37, 36, 36);
    max-width: 50%;    
}



footer {
    position: sticky;
    top: 10px;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}